div
{
 background-color: black;
 color: rgb(8, 242, 250);
 position: relative;
 border-radius: 50px;
 text-align:center;
 font-size: 30px;
}
.mathias a 
{
    text-decoration: none;
    color: rgb(255, 0, 0);

}
.mathias a:hover
{
    color: rgb(21, 255, 0);
}
p
{
    position: relative;
    top: 50px;
}
.p2
{
    color:rgb(21, 131, 228);
    padding: 20px;
    font-size: larger;
}
body
{
    background-color: black;
}   

